<!DOCTYPE html>
<html>
<head>
	<title>Color Game</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<h1>The Great <br> <span id="coldisp">RGB</span> <br> Game</h1>
	<div id="stripe">
		<button>New Colors</button>
		<span id="message"> </span>
		<button class="mode">Easy</button>
		<button class="mode selected">Hard</button>
	</div>
	<div id="container">
		<div class="square">
			
		</div>
		<div class="square">
			
		</div>
		<div class="square">
			
		</div>
		<div class="square">
			
		</div>
		<div class="square">
			
		</div>
		<div class="square">
			
		</div>
	</div>
	
	<script src="ColorGame.js"></script>
</body>
</html>